<h1>Hello</h1>

<div style='border: 10px dashed black'>
  <% if @visitor %>
  hello, <%= @visitor %>
  <% else %>
  <form action = "/hello">
    My name is <%= @name %>
    What is your name?
    <input type="text" name="name">
    <input type="submit">
  </form>
  <% end %>
  <img src='/images/hulk.png'>
</div>